*,
body {
  margin: 0;
  padding: 0;
}

/*tło*/
body {
  background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg);
}

/*rozwijane menu*/
.main-menu {
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 20px #d4d4d4;

  width: 70px;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;

  transition: .3s ease;
}

.main-menu:hover {
  width: 250px;
  overflow-y: scroll;
}

.main-menu .menu-item {
  padding: 10px;
}

.main-menu .menu-item:hover {
  background-color: #d6d6d6;
  cursor: pointer;
}

.main-menu .menu-item .fa {
  color: gray;
  width: 40px;
  font-size: 25px;
  padding: 10px;
}

.main-menu .menu-item:hover>.fa {
  color: #1d0daa;
}

.main-menu .menu-item .fab {
  color: gray;
  width: 40px;
  font-size: 25px;
  padding: 10px;
}

.main-menu .menu-item:hover>.fab {
  color: #1d0daa;
}

.main-menu .menu-item .fas {
  color: gray;
  width: 40px;
  font-size: 25px;
  padding: 10px;
}

.main-menu .menu-item:hover>.fas {
  color: #1d0daa;
}

section.home {
  background-color: #f3f3f3;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: rgb(9, 99, 36);
}

a:visited {
  text-decoration: none;
  color: rgb(9, 99, 36);
}

/*Elementy strony podstawowe:*/
#hed1 {
  text-align: center;
  color: rgb(110, 207, 207);
}

#h11 {
  color: black;
}

#foot1 {
  position: absolute;
  bottom: 0px;
  right: 20px;
  color: blue;
  font-size: 20px;
}

/*flexboxy*/

#container {
  padding: 20px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}

#c1 {
  background: white;
  min-height: 100px;
  width: 250px;
  height: 400px;
  text-align: center;
  flex-wrap: wrap;
  border-radius: 10px 40px 10px 40px;
}

#c2 {
  background: white;
  min-height: 200px;
  width: 250px;
  height: 400px;
  text-align: center;
  flex-wrap: wrap;
  border-radius: 10px 40px 10px 40px;
}

#c3 {
  background: white;
  min-height: 300px;
  width: 250px;
  height: 400px;
  text-align: center;
  flex-wrap: wrap;
  border-radius: 10px 40px 10px 40px;
}

#c4 {
  background: white;
  min-height: 400px;
  width: 250px;
  height: 400px;
  text-align: center;
  flex-wrap: wrap;
  border-radius: 10px 40px 10px 40px;
}

/*rzeczy w flexboxach*/
#h21 {
  color: rgb(22, 165, 165);
  text-shadow: 4px 3px 3px rgba(84, 192, 192, 1);
}
#h22 {
  color: rgb(22, 165, 165);
  text-shadow: 4px 3px 3px rgba(84, 192, 192, 1);
}

#h23 {
  color: rgb(22, 165, 165);
  text-shadow: 4px 3px 3px rgba(84, 192, 192, 1);
}

#h24 {
  color: rgb(22, 165, 165);
  text-shadow: 4px 3px 3px rgba(84, 192, 192, 1);
}

#p1 {
  font-size: 18px;
  color: rgb(160, 82, 27);
}


#p2 {
  font-size: 18px;
  color: rgb(160, 82, 27);
}

#p3 {
  font-size: 18px;
  color: rgb(160, 82, 27);
}

#p4 {
  font-size: 18px;
  color: rgb(160, 82, 27);
}

