*,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ebebeb;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg);
}

.main-menu {
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 20px #d4d4d4;

  width: 70px;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;

  transition: .3s ease;
}

.main-menu:hover {
  width: 250px;
  overflow-y: scroll;
}

.main-menu .menu-item {
  padding: 10px;
}

.main-menu .menu-item:hover {
  background-color: #d6d6d6;
  cursor: pointer;
}

.main-menu .menu-item .fa {
  color: gray;
  width: 40px;
  font-size: 25px;
  padding: 10px;
}

.main-menu .menu-item:hover>.fa {
  color: #1d0daa;
}

.main-menu .menu-item .fab {
  color: gray;
  width: 40px;
  font-size: 25px;
  padding: 10px;
}

.main-menu .menu-item:hover>.fab {
  color: #1d0daa;
}

.main-menu .menu-item .fas {
  color: gray;
  width: 40px;
  font-size: 25px;
  padding: 10px;
}

.main-menu .menu-item:hover>.fas {
  color: #1d0daa;
}

section.home {
  background-color: #f3f3f3;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: rgb(9, 99, 36);
}

a:visited {
  text-decoration: none;
  color: rgb(9, 99, 36);
}

#hed1 {
  text-align: center;
  color: rgb(151, 252, 252);
}

#h11 {
  color: black;
}

/*flexboxy*/
#container1 {
  display: flex;
  justify-content: center;
}

#con1 {
  background: white;
  width: 700px;
  height: 120px;
  text-align: center;
  border-radius: 40px 40px 40px 40px;
  position: relative;
  bottom: -305px;
}

/*notatki*/
#contener {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

#con2 {
  background: white;
  width: 150px;
  height: 100px;
  text-align: center;
  border-radius: 30px 10px 30px 10px;
  position: relative;
  left: 255px;
  margin: 5px;
}

#p1 {
  color: cornflowerblue;
  text-align: center;
}

#con3 {
  background: white;
  width: 150px;
  height: 100px;
  text-align: center;
  border-radius: 30px 10px 30px 10px;
  position: relative;
  left: 255px;
  margin: 5px;
}

#p2 {
  color: cornflowerblue;
  text-align: center;
}

#con4 {
  background: white;
  width: 150px;
  height: 100px;
  text-align: center;
  border-radius: 30px 10px 30px 10px;
  position: relative;
  left: 255px;
  margin: 5px;
}

#p3 {
  color: cornflowerblue;
  text-align: center;
}

#con5 {
  background: white;
  width: 150px;
  height: 100px;
  text-align: center;
  border-radius: 30px 10px 30px 10px;
  position: relative;
  left: 255px;
  margin: 5px;
}

#p4 {
  color: cornflowerblue;
  text-align: center;
}

#con6 {
  background: white;
  width: 150px;
  height: 100px;
  text-align: center;
  border-radius: 30px 10px 30px 10px;
  position: relative;
  left: 255px;
  margin: 5px;
}

#p5 {
  color: cornflowerblue;
  text-align: center;
}

#con7 {
  background: white;
  width: 150px;
  height: 100px;
  text-align: center;
  border-radius: 30px 10px 30px 10px;
  position: relative;
  left: 255px;
  margin: 5px;
}

#p6 {
  color: cornflowerblue;
  text-align: center;
}

#con8 {
  background: white;
  width: 150px;
  height: 100px;
  text-align: center;
  border-radius: 30px 10px 30px 10px;
  position: relative;
  left: 255px;
  margin: 5px;
}

#p7 {
  color: cornflowerblue;
  text-align: center;
}

#con9 {
  background: white;
  width: 150px;
  height: 100px;
  text-align: center;
  border-radius: 30px 10px 30px 10px;
  position: relative;
  left: 255px;
  margin: 5px;
}

#p8 {
  color: cornflowerblue;
  text-align: center;
}

#con10 {
  background: white;
  width: 150px;
  height: 100px;
  text-align: center;
  border-radius: 30px 10px 30px 10px;
  position: relative;
  left: 255px;
  margin: 5px;
}

#p9 {
  color: cornflowerblue;
  text-align: center;
}

/*Druga linia*/
#contener2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

#con11 {
  background: white;
  width: 150px;
  height: 100px;
  text-align: center;
  border-radius: 30px 10px 30px 10px;
  position: relative;
  left: 255px;
  margin: 5px;
}

#p10 {
  color: cornflowerblue;
  text-align: center;
}

#con11 {
  background: white;
  width: 150px;
  height: 100px;
  text-align: center;
  border-radius: 30px 10px 30px 10px;
  position: relative;
  left: 255px;
  margin: 5px;
}

#p10 {
  color: cornflowerblue;
  text-align: center;
}

#con12 {
  background: white;
  width: 150px;
  height: 100px;
  text-align: center;
  border-radius: 30px 10px 30px 10px;
  position: relative;
  left: 255px;
  margin: 5px;
}

#p11 {
  color: cornflowerblue;
  text-align: center;
}

#con13 {
  background: white;
  width: 150px;
  height: 100px;
  text-align: center;
  border-radius: 30px 10px 30px 10px;
  position: relative;
  left: 255px;
  margin: 5px;
}

#p12 {
  color: cornflowerblue;
  text-align: center;
}

#con14 {
  background: white;
  width: 150px;
  height: 100px;
  text-align: center;
  border-radius: 30px 10px 30px 10px;
  position: relative;
  left: 255px;
  margin: 5px;
}

#p13 {
  color: cornflowerblue;
  text-align: center;
}

#con15 {
  background: white;
  width: 150px;
  height: 100px;
  text-align: center;
  border-radius: 30px 10px 30px 10px;
  position: relative;
  left: 255px;
  margin: 5px;
}

#p14 {
  color: cornflowerblue;
  text-align: center;
}

#con16 {
  background: white;
  width: 150px;
  height: 100px;
  text-align: center;
  border-radius: 30px 10px 30px 10px;
  position: relative;
  left: 255px;
  margin: 5px;
}

#p15 {
  color: cornflowerblue;
  text-align: center;
}